/* .site-logo {
  font-size: 20px;
  color: blue;
  background-color: #fff;
}

.site-logo--active {
  color: teal;
}
/* .btn {
  width: 100px;

  color: grey;
} */
/* .btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  background-color: #212121;
  cursor: pointer;
  color: #ffffff;
}
.text-red {
  color: red;
}
.text-blue {
  color: blue;
}

.gallery {
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  flex: 1 1 auto;
  box-sizing: content-box;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.list_item {
  list-style-type: none;
}
.box {
  margin: 10px;
  width: 200px;
  height: 150px;
  display: block;
  box-sizing: border-box;
}
.img_item {
  width: 100%;
  height: 100%;
}  */

/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.movie {
  width: 400px;
  border-radius: 4px;
  color: #212121;
  margin: 0 auto;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.movie__image {
  margin-bottom: 8px;
  height: 550px;
  width: 100%;
  object-fit: cover;
}

.movie__body {
  padding: 8px;
}

.movie__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 500;
}

.movie__description {
  margin: 0;
  margin-bottom: 16px;
  line-height: 1.5;
}

.button {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 3px;
  padding: 0 1.5em;
  vertical-align: top;

  font-size: 15px;
  line-height: 2.8;
  color: #222;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  font-family: inherit;
  font-weight: 500;
  text-decoration: none;

  background-color: #fff;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;

  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.js-gallery {
  list-style-type: none;
  background-color: teal;
}
.js-gallery > li {
  padding: 10px;
  background-color: palevioletred;
}

.modal {
}
.modal--hiden {
  display: none;
}
.modal__backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.modal__window {
  position: relative;
  display: flex;
  min-width: 500px;
  min-height: 300px;
  padding: 32px;
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.modal__close {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url(../img/null.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  padding: 8px;
  margin: 0;
  outline: 0;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
} */
/* 
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 50px;
  font-family: 'PT Sans', sans-serif;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
}

.menu-link {
  display: block;
  padding: 20px 25px;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #212121;
  transition: background-color 0.1s linear;
}

.menu-link.active {
  background-color: #ff4081;
  color: #ffffff;
}
.coords-container {
  position: fixed;
  top: 30%;
  left: 30%;
  width: 400px;
  margin: auto;
} */

/* .value {
  position: fixed;
  top: 20px;
  width: 200px;
  color: black;
  padding: 5px;
  border: 1px solid black;
  background-color: #fff;
}
.current {
  background-color: pink;
} */
/* 
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'PT Sans', sans-serif;
} */

/* p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.to-top-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('https://image.flaticon.com/icons/svg/137/137608.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  min-height: 60px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  transition: all 0.2s linear;
  background-color: teal;
}

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: palevioletred;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.nav ul {
  display: flex;
  text-transform: uppercase;
  list-style: none;
}

.nav li {
}

.nav a {
  display: block;
  padding: 5px 10px;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}

.nav a:hover {
  color: #212121;
}

.banner {
  height: 200px;
  background-image: url("https://placeimg.com/1000/750/any");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
/* 
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.site-nav li {
  list-style: none;
}

.site-nav li a {
  text-decoration: none;
} */

/* Для модуля 8.1 */

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.button {
  position: relative;
  display: inline-block;
  border: none;
  min-width: 88px;
  min-height: 36px;
  border-radius: 3px;
  padding: 8px 64px;
  vertical-align: top;

  font-size: 64px;
  color: #222;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  font-family: monospace;
  font-weight: 500;
  text-decoration: none;

  background-color: #fff;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;

  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button:active {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
} */

/* Для пункта 8.2 */
/* 
body {
  font-size: 24px;
}

input,
button {
  font-size: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expression {
  display: flex;
  align-items: center;
  font-family: monospace;
}

button {
  padding: 4px 32px;
  cursor: pointer;
}

input {
  width: 100px;
  font-family: monospace;
}

span {
  margin: 0 8px;
  font-weight: 500;
  font-family: monospace;
}

.result {
  font-size: 64px;
  font-weight: 400;
} */
/* Для пункта 8.3 */
/* body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

.btn {
  font-size: 32px;
  padding: 4px 16px;
  cursor: pointer;
  font-family: inherit;
}

.value {
  margin: 0 16px;
  font-size: 64px;
} */

/* Для пункта 8.4 */
/* body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options {
  display: flex;
  flex-direction: column;
}

.options label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 16px;
  font-size: 24px;
}

.options input {
  margin: 0;
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.btn {
  font-size: 24px;
  padding: 4px 32px;
  cursor: pointer;
}

.result {
  font-size: 32px;
} */
/* 
img {
  display: block;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.images {
  display: grid;
  width: 648px;
  margin: 0 auto;
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(2, 320px);
  grid-gap: 8px;
  list-style: none;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
} */

/* 8.6 */
/* 
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.list {
  margin: 0;
  padding: 8px;
  outline: 1px solid teal;
}

.list li {
  display: flex;
  align-items: center;
  padding: 16px;
  font-size: 24px;
  outline: 1px solid #212121;
}

.list li:not(:last-child) {
  margin-bottom: 8px;
}

.list button {
  margin-right: 16px;
  font-size: 24px;
  cursor: pointer;
  font-family: inherit;
} */

/* 8.7 */
/* body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.input-list {
  display: flex;
  flex-direction: column;
  padding: 16px;
  outline: 1px solid teal;
}

.input {
  padding: 4px 8px;
  font-size: 32px;
  margin-bottom: 8px;
  font-family: inherit;
}

.input.valid {
  outline: 3px solid #4caf50;
}

.input.invalid {
  outline: 3px solid #f44336;
} */

/* 8.8 */
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.input {
  display: inline-block;
  margin-bottom: 16px;
  border: none;
  width: 360px;
  height: 42px;
  padding: 8px;
  background-color: #e9e9e9;
  font-family: inherit;
  font-size: 24px;
  color: #2a2a2a;
}

.input:focus {
  outline-color: #2a2a2a;
}

.input-value {
  color: #2a2a2a;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
} */
/* 8.9 */
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-top: 50px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 45, 58, 0.7);
}

.modal-hidden {
  display: none;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 650px;
  min-height: 380px;
  padding: 50px 80px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px rgba(1, 2, 2, 0.2);
  border-radius: 2px;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 45px;
  height: 45px;
  background-image: url("https://image.flaticon.com/icons/png/512/64/64146.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.1s linear;
}

.close-btn:hover {
  transform: rotate(90deg);
}

.modal-title {
  margin-bottom: 15px;
  color: #2a2a2a;
  font-size: 30px;
  font-weight: 600;
  line-height: 42px;
  text-transform: uppercase;
}

.modal-text {
  margin-bottom: 15px;
  color: #676767;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}

.sub-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-form-input {
  display: inline-block;
  margin-bottom: 15px;
  border: none;
  width: 360px;
  height: 42px;
  padding: 10px;
  background-color: #e9e9e9;
  font-family: inherit;
  font-size: 14px;
  color: #676767;
}

.sub-form-input:focus {
  outline-color: #2a2a2a;
}

.sub-form-input::placeholder {
  color: #ababab;
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
}

.sub-form-btn {
  border: none;
  width: 115px;
  height: 42px;
  background-color: #2a2a2a;
  border-radius: 3px;
  box-shadow: 0 4px 10px rgba(1, 2, 2, 0.2);
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  line-height: 74px;
  text-transform: uppercase;
  line-height: 42px;
  cursor: pointer;
  font-family: inherit;
}

.btn {
  border: none;
  width: 115px;
  height: 42px;
  background-color: #2a2a2a;
  border-radius: 3px;
  box-shadow: 0 4px 10px rgba(1, 2, 2, 0.2);
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  line-height: 74px;
  text-transform: uppercase;
  line-height: 42px;
  cursor: pointer;
  font-family: inherit;
} */

/* Модуль 9 */
/* .clock {
  width: 150px;
  margin: auto;
}
.clockface {
  font-size: 20px;
  font-family: 'Arial';
  font-weight: bold;
} */

/* 9.доп задания */

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.active {
  background-color: teal;
}

.button {
  display: inline-flex;
  padding: 16px 32px;
  border: none;
  margin: 0 4px;
  border-radius: 2px;
  font-size: 16px;
  outline: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-family: inherit;
  background-color: #f44336;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.button:active {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
} */

/* 9.3 */
/* 
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  color: #212121;
  border-radius: 2px;
}

.clockface {
  margin-bottom: 15px;
  font-family: 'Roboto Mono', monospace;
  font-size: 80px;
}

.timer-btn {
  display: inline;
  text-transform: uppercase;
  border: 0;
  background-color: #212121;
  color: #ffffff;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 28px;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
}

.active {
  background-color: #2196f3;
} */
/* body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
img {
  display: block;
  max-width: 100px;
  height: auto;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 16px;
  border-radius: 2px;
}
.spinner-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}
.spinner-overlay.visible {
  display: block;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: palevioletred;
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay {
  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
} */
/* 
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.overlay {
  margin: 10px;
  border: 1px solid black;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: inherit;
}
.sale {
  width: 50%;
  margin: 10px;
  height: 60px;
  border: 1px solid black;
}
.buy {
  width: 50%;
  margin: 10px;
  height: 60px;
  border: 1px solid black;
} */

/* Модуль 10 задания */

/* 10.1 */
/* body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
}

.container {
  padding-top: 20px;
  width: 400px;
  min-width: 480px;
  margin: auto;
}

.mdc-btn {
  min-width: 88px;
  height: 36px;
  padding: 0 16px;
  border: 0;
  outline: 0;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #00796b;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(#414141, 0.3);
  &:hover {
    background-color: #004c40;
  }
  &:active {
    box-shadow: 0 6px 4px 0 rgba(#414141, 0.3);
  }
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 0 2px 2px rgba(#414141, 0.2);
}

.search-form input {
  margin-right: 12px;
  padding: 4px;
  outline: 0;
  border: 0;
  color: #263238;
  font-size: 18px;
  background-color: transparent;
  border-bottom: 2px solid #00796b;
  &::placeholder {
    color: #616161;
  }
}
.result {
  width: 75%;
  min-height: 100px;
  margin: auto;
  border: 1px solid black;
  padding: 5px;
}
.flag img {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-top: 5%;
  border: 1px solid lightgrey;
} */

/* 10.2 */

/* body {
  font-family: "Roboto", sans-serif;
  background: #fff;
}

.container {
  padding-top: 20px;
  width: 400px;
  min-width: 480px;
  margin: auto;
}

.mdc-btn {
  min-width: 88px;
  height: 36px;
  padding: 0 16px;
  border: 0;
  outline: 0;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #00796b;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(#414141, 0.3);
  &:hover {
    background-color: #004c40;
  }
  &:active {
    box-shadow: 0 6px 4px 0 rgba(#414141, 0.3);
  }
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 0 2px 2px rgba(#414141, 0.2);
}

.search-form input {
  margin-right: 12px;
  padding: 4px;
  outline: 0;
  border: 0;
  color: #263238;
  font-size: 18px;
  background-color: transparent;
  border-bottom: 2px solid #00796b;
  &::placeholder {
    color: #616161;
  }
} */

/* 10.3 */

/*
  Документация API: https://jsonplaceholder.typicode.com/

  Просмотр всех пользователей: https://jsonplaceholder.typicode.com/users/ 

  Написать функцию fetchUsers, которая посылает get запрос.
  Результатом fetch будет массив объектов.
  
  В таблицу .user-table добавить строки для каждого пользователя.
  Каждая строка состоит из 5-ти столбцов указанного формата.
  Кол-во строк будет такое как и кол-во объектов пользователей в ответе.
  
    Имя | Почта | Город | Вебсайт | Компания
    Имя | Почта | Город | Вебсайт | Компания
    и так далее для каждого пользователя...
*/

/* body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
}

.container {
  padding-top: 20px;
  margin: auto;
}

.mdc-btn {
  min-width: 88px;
  height: 36px;
  padding: 0 16px;
  border: 0;
  outline: 0;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #00796b;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(#414141, 0.3);
  &:hover {
    background-color: #004c40;
  }
  &:active {
    box-shadow: 0 6px 4px 0 rgba(#414141, 0.3);
  }
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.search-form input {
  margin-right: 12px;
  padding: 4px;
  outline: 0;
  border: 0;
  color: #263238;
  font-size: 18px;
  background-color: transparent;
  border-bottom: 2px solid #00796b;
  &::placeholder {
    color: #616161;
  }
}
.user-table {
  width: 80%;
  margin: auto;
  border: 1px solid black;

  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 10px;
} */

/* 10.4 */

/* body {
  font-family: 'Roboto', sans-serif;
  background: #fff;
}

.container {
  padding-top: 20px;
  width: 400px;
  min-width: 480px;
  margin: auto;
}

.mdc-btn {
  min-width: 88px;
  height: 36px;
  padding: 0 16px;
  border: 0;
  outline: 0;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #00796b;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(#414141, 0.3);
  &:hover {
    background-color: #004c40;
  }
  &:active {
    box-shadow: 0 6px 4px 0 rgba(#414141, 0.3);
  }
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 0 2px 2px rgba(#414141, 0.2);
}

.search-form input {
  margin-right: 12px;
  padding: 4px;
  outline: 0;
  border: 0;
  color: #263238;
  font-size: 18px;
  background-color: transparent;
  border-bottom: 2px solid #00796b;
  &::placeholder {
    color: #616161;
  }
}
.result {
  width: 75%;
  margin: auto;
  padding: 20px;
  border: 1px solid black;
  min-height: 100px;
} */

/* --------------------------------------------- */
/*  Модуль 11 */
/* #root {
  width: 70%;
  box-sizing: border-box;
}
#root img {
  display: block;
  width: 100%;
} */

/* Для тестового прогона */

/* .images-leaning {
  box-sizing: border-box;
  width: 100%;
  min-width: 800px;
  margin: 10em auto 0;
  min-height: 330px;
  position: relative;
  background-repeat: no-repeat;
  background-image: linear-gradient(352deg, transparent 45.2%, #bbb 45.5%, #bbb 45.6%, #ccc 45.8%, #eee 60%), linear-gradient(30deg, #ccc, #eee 90%);
  background-size: 100% 32.4em;
  background-position: 50% 100%;
}
.images-leaning > div {
  width: 250px;
  position: absolute;
  left: 50%;
  bottom: 7.8em;
  z-index: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
}
.images-leaning > div:before {
  content: '';
  width: 60%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 7%;
  z-index: 1;
  background-repeat: no-repeat;
  background-image: linear-gradient(120deg, transparent 42%, rgba(0,0,0,0.15) 45%, rgba(0,0,0,0.35) 65%), linear-gradient(20deg, transparent 38%, rgba(0,0,0,0.25) 45%, rgba(0,0,0,0.23) 55%, rgba(0,0,0,0.13) 75%), radial-gradient(ellipse at 50% 100%, rgba(0,0,0,0.15) 3%, transparent 40%);
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
}
.images-leaning > div:after {
  content: '';
  width: 60%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-image: linear-gradient(45deg, rgba(0,0,0,0.3), transparent 70%), linear-gradient(45deg, rgba(255,255,255,0) 60%, rgba(255,255,255,0.3) 80%);
  -webkit-transform: perspective(20em) rotateY(1deg) rotateZ(-5deg) skewY(-2deg) skewX(-1deg) scaleX(var(--resize));
          transform: perspective(20em) rotateY(1deg) rotateZ(-5deg) skewY(-2deg) skewX(-1deg) scaleX(var(--resize));
}
.images-leaning > div > img {
  width: 60%;
  height: 100%;
  display: block;
  position: relative;
  z-index: 2;
  border-left: 0.2em solid;
  -webkit-border-image: linear-gradient(105deg, transparent 0.5%, #aaa 0.7%) 1;
       -o-border-image: linear-gradient(105deg, transparent 0.5%, #aaa 0.7%) 1;
          border-image: linear-gradient(105deg, transparent 0.5%, #aaa 0.7%) 1;
  box-shadow: 0.1em 0.2em 0 -0.1em #666;
  -webkit-filter: saturate(90%);
          filter: saturate(90%);
  -webkit-transform: perspective(20em) rotateY(1deg) rotateZ(-5deg) skewY(-2deg) skewX(-1deg) scaleX(var(--resize));
          transform: perspective(20em) rotateY(1deg) rotateZ(-5deg) skewY(-2deg) skewX(-1deg) scaleX(var(--resize));
}
.images-leaning > div:nth-of-type(4) {
  --resize: 0.99;
  margin-left: -40.4em;
}
.images-leaning > div:nth-of-type(4):before {
  background-size: 100% 85%, 100% 15%, 100% 10%;
  background-position: 0.1em 0, 0 100%, -3em 83%;
}
.images-leaning > div:nth-of-type(3) {
  --resize: 0.96;
  margin-left: -15.3em;
  -webkit-transform: scaleY(0.98) translate(-8em, -2.1em);
          transform: scaleY(0.98) translate(-8em, -2.1em);
}
.images-leaning > div:nth-of-type(3):before {
  background-size: 100% 84%, 100% 16%, 100% 10%;
  background-position: 0.4em 0, 0 100%, -3em 81%;
}
.images-leaning > div:nth-of-type(2) {
  --resize: 0.925;
  margin-left: 10em;
  -webkit-transform: scaleY(0.965) translate(-17em, -4.2em);
          transform: scaleY(0.965) translate(-17em, -4.2em);
}
.images-leaning > div:nth-of-type(2):before {
  background-size: 100% 83%, 100% 17%, 100% 10%;
  background-position: 0.6em 0, 0.1em 100%, -3em 81%;
}
.images-leaning > div:nth-of-type(1) {
  --resize: 0.895;
  margin-left: 35.2em;
  -webkit-transform: scaleY(0.94) translate(-26.6em, -6.2em);
          transform: scaleY(0.94) translate(-26.6em, -6.2em);
}
.images-leaning > div:nth-of-type(1):before {
  background-size: 100% 82%, 100% 18%, 100% 10%;
  background-position: 0.8em 0, 0.1em 100%, -3em 80%;
}
html,
body {
  min-height: 100vh;
  min-width: 800px;
}
body {
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  background-color: #eee;
  font-size: 10px;
}
.images-basic {
  width: 600px;
  padding: 5em 0;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
}
.images-basic > div {
  width: 130px;
}
.images-basic img {
  width: 100%;
  display: block;
} */

/* Для заданий модуля 11 */

/* 11.1 */
/* 
.products {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  padding: 4px;
}

.item + .item {
  border-top: 1px solid #212121;
}

.name,
.quantity {
  margin: 0;
  font-size: 20px;
} */

/* ----------------   11.2 --------------- */

/* .posts {
  display: flex;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.post {
  position: relative;
  flex: 0 0 calc(25% - 16px);
  margin: 8px;
  padding: 16px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.fav-icon {
  position: absolute;
  top: 4px;
  right: 4px;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../img/like.svg);
} */

/* -------------------   11.3 --------------------- */
/* 
body {
  padding: 20px;
  font-family: Roboto, sans-serif;
}

form {
  padding: 10px 20px;
  box-shadow: 0 0 2px 2px rgba(#414141, 0.3);
}

.results {
  margin-top: 40px;
}

.results li {
  display: flex;
  margin-bottom: 10px;
}

.results li::before {
  display: inline-block;
  content: "\2014";
  margin-right: 4px;
}

.results .success {
  color: #4caf50;
}

.results .error {
  color: #f44336;
} */

/* Модуль 12 */
