/* .site-logo {
  font-size: 20px;
  color: blue;
  background-color: #fff;
}

.site-logo--active {
  color: teal;
}
/* .btn {
  width: 100px;

  color: grey;
} */
/* .btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 2px;
  background-color: #212121;
  cursor: pointer;
  color: #ffffff;
}
.text-red {
  color: red;
}
.text-blue {
  color: blue;
}

.gallery {
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  flex: 1 1 auto;
  box-sizing: content-box;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.list_item {
  list-style-type: none;
}
.box {
  margin: 10px;
  width: 200px;
  height: 150px;
  display: block;
  box-sizing: border-box;
}
.img_item {
  width: 100%;
  height: 100%;
}  */

/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.movie {
  width: 400px;
  border-radius: 4px;
  color: #212121;
  margin: 0 auto;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.movie__image {
  margin-bottom: 8px;
  height: 550px;
  width: 100%;
  object-fit: cover;
}

.movie__body {
  padding: 8px;
}

.movie__title {
  margin: 0;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 500;
}

.movie__description {
  margin: 0;
  margin-bottom: 16px;
  line-height: 1.5;
}

.button {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: 3px;
  padding: 0 1.5em;
  vertical-align: top;

  font-size: 15px;
  line-height: 2.8;
  color: #222;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  font-family: inherit;
  font-weight: 500;
  text-decoration: none;

  background-color: #fff;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;

  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button:hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.3);
}

.js-gallery {
  list-style-type: none;
  background-color: teal;
}
.js-gallery > li {
  padding: 10px;
  background-color: palevioletred;
}

.modal {
}
.modal--hiden {
  display: none;
}
.modal__backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.modal__window {
  position: relative;
  display: flex;
  min-width: 500px;
  min-height: 300px;
  padding: 32px;
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.modal__close {
  position: absolute;
  top: -12px;
  right: -12px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url(../img/null.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border-radius: 50%;
  border: none;
  padding: 8px;
  margin: 0;
  outline: 0;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
} */
/* 
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 50px;
  font-family: 'PT Sans', sans-serif;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
}

.menu-link {
  display: block;
  padding: 20px 25px;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #212121;
  transition: background-color 0.1s linear;
}

.menu-link.active {
  background-color: #ff4081;
  color: #ffffff;
}
.coords-container {
  position: fixed;
  top: 30%;
  left: 30%;
  width: 400px;
  margin: auto;
} */

/* .value {
  position: fixed;
  top: 20px;
  width: 200px;
  color: black;
  padding: 5px;
  border: 1px solid black;
  background-color: #fff;
}
.current {
  background-color: pink;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: 'PT Sans', sans-serif;
}

/* p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.to-top-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('https://image.flaticon.com/icons/svg/137/137608.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  min-height: 60px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  transition: all 0.2s linear;
  background-color: teal;
}

.nav-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: palevioletred;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.nav ul {
  display: flex;
  text-transform: uppercase;
  list-style: none;
}

.nav li {
}

.nav a {
  display: block;
  padding: 5px 10px;
  font-size: 20px;
  text-decoration: none;
  color: #ffffff;
}

.nav a:hover {
  color: #212121;
}

.banner {
  height: 200px;
  background-image: url("https://placeimg.com/1000/750/any");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.site-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.site-nav li {
  list-style: none;
}

.site-nav li a {
  text-decoration: none;
}
